<template>
<v-layout child-flex>
  <div>
    <v-toolbar flat>
      <v-toolbar-title class="mr-2">Census detail for: <span class="text-truncate font-italic pr-1">{{ census.name }}</span></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn color="primary" dark class="mb-2" @click="doEdit">Edit</v-btn>
    </v-toolbar>
    <v-container>
      <v-layout column>
        <v-layout row wrap v-for="(value, key) in fields" :key="key">
          <v-flex xs12 sm3>
            <div>{{ value }}</div>
          </v-flex>
          <v-flex xs12 sm9>
            <div>{{ census[key] }}</div>
          </v-flex>
        </v-layout>
      </v-layout>
    </v-container>
  </div>
</v-layout>
</template>

<script>
import { pageTitle } from '~/util/helpers'
export default {
  head: pageTitle('Census detail'), // TODO add name of specific census
  data () {
    return {
      fields: {
        start_date: 'Start date',
        census_type: 'Census type',
      }
    }
  },

  validate({ params }) {
    return !isNaN(+params.id)
  },

  async asyncData({ params, error, $axios }) {
    try {
      const { data } = await $axios.get(`census/${+params.id}/`)
      return data
    } catch (e) {
      console.error(e)
      error({ message: 'Census not found', statusCode: 404 })
    }
  },

  methods: {
    doEdit () { // TODO should probably opt for in-line editing
      alert('TODO implement this') // FIXME implement me
    },
  }
}
</script>

<style scoped>

</style>
