<template>
<v-layout child-flex>
  <div>
    <v-toolbar flat>
      <v-toolbar-title class="mr-2">Censuses</v-toolbar-title>
      <v-divider
        class="mx-2"
        inset
        vertical
      ></v-divider>
      <v-spacer></v-spacer>
      <v-dialog v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }">
          <v-btn color="primary" dark class="mb-2" v-on="on">New Item</v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.name" label="Census name"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.start_date" label="Census Date"></v-text-field>
                </v-flex>
                <!--<v-flex xs12 sm6 md4>-->
                  <!--<v-text-field v-model="editedItem.is_completed" label="Is Completed?"></v-text-field>-->
                <!--</v-flex>-->
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.collected_by" label="Collector"></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
            <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="censusList"
      class="elevation-1"
    >
      <template v-slot:items="props">
        <td><nuxt-link :to="'/census/' + props.item.id">{{ props.item.name }}</nuxt-link></td>
        <td class="text-xs-right">{{ props.item.start_date }}</td>
        <!--<td class="text-xs-right">{{ props.item.is_completed }}</td>-->
        <td class="text-xs-right">{{ props.item.census_type }}</td>
        <td class="text-xs-right">{{ props.item.collected_by }}</td>
        <td class="justify-center layout px-0">
          <v-icon
            small
            class="mr-2"
            @click="editItem(props.item)"
          >
            edit
          </v-icon>
          <v-icon
            small
            @click="deleteItem(props.item)"
          >
            delete
          </v-icon>
        </td>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize">Reset</v-btn>
      </template>
    </v-data-table>
  </div>
</v-layout>
</template>

<script>
import { mapState } from 'vuex'
import WowLogging from '~/mixins/WowLogging'
import { pageTitle } from '~/util/helpers'

export default {
  head: pageTitle('List censuses'),
  data: () => ({
    dialog: false,
    headers: [
      {
        text: 'Name',
        align: 'left',
        value: 'name'
      },
      { text: 'Census Date', value: 'start_date' },
      //{ text: 'Census Complete?', value: 'is_complete' }, // TODO needs to be computed server-side
      { text: 'Type', value: 'census_type' }, // TODO resolve vocab, maybe on server
      { text: 'Collector', value: 'collected_by' }, // TODO resolve name, maybe on server
    ],
    records: [], // FIXME remove when all other actions are changed to use Vuex
    editedIndex: -1,
    editedItem: {
      name: '',
      start_date: 0,
      is_completed: false,
      collected_by: null
    },
    defaultItem: {
      name: '',
      start_date: 0,
      is_completed: false,
      census_type: null,
      collected_by: null
    }
  }),

  mixins: [WowLogging],

  computed: {
    ...mapState(['censusList']),
    formTitle () {
      return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
    },
  },

  watch: {
    dialog (val) {
      val || this.close()
    }
  },

  created () {
    this.initialize()
  },

  methods: {
    async initialize () {
      // TODO show/hide loading indicator
      try {
        await this.$store.dispatch('listCensuses')
      } catch (err) {
        const msg = 'Failed to load census list'
        this.consoleError(msg, err)
        this.$toast.error(msg, 'Error', { timeout: 0 })
      }
    },

    editItem (item) {
      this.editedIndex = this.records.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      const index = this.records.indexOf(item)
      confirm('Are you sure you want to delete this item?') && this.records.splice(index, 1)
    },

    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    async save () {
      if (this.editedIndex > -1) {
        Object.assign(this.records[this.editedIndex], this.editedItem)
        // TODO PATCH object
      } else {
        this.records.push(this.editedItem)
        // TODO POST object
        // TODO add auth header
        try {
          await this.$store.dispatch('addCensus', { newCensus: this.editedItem })
        } catch (err) {
          console.error(err) // FIXME handle better
          return
        }

      }
      this.close()
    }
  }
}
</script>

<style scoped>

</style>
