<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-list-tile
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title" />
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      :clipped-left="clipped"
      fixed
      app
    >
      <v-toolbar-side-icon @click="drawer = !drawer" />
      <v-btn
        icon
        @click.stop="miniVariant = !miniVariant"
      >
        <v-icon>{{ `chevron_${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn>
      <v-toolbar-title>{{title}}</v-toolbar-title>
      <v-chip color="warning" v-if="!isProd">
        <span class="hidden-md-and-down">This is a&nbsp;</span>
        test
        <span class="hidden-xs-only">&nbsp;environment</span>
        <span class="hidden-md-and-down">, things will break, data will be deleted</span>!
      </v-chip>
      <v-spacer />
      <v-btn v-if="!isLoggedIn" @click="doLogin">Login</v-btn>
      <v-btn v-if="isLoggedIn" @click="doLogout">Logout</v-btn>
      <nuxt-link to="/me" no-prefetch v-if="isLoggedIn">
        <v-btn icon>
          <v-icon>account_circle</v-icon>
        </v-btn>
      </nuxt-link>
    </v-toolbar>
    <v-content>
      <v-container fluid>
        <nuxt />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import * as helpers from '~/util/helpers.js'

export default {
  data() {
    return {
      clipped: true,
      drawer: true,
      fixed: true,
      miniVariant: false,
      title: 'Wild Orchid Watch'
    }
  },
  computed: {
    isLoggedIn () {
      return this.$auth.loggedIn
    },
    isProd () {
      return this.$store.state.isProd
    },
    items () {
      const result = [
        {
          icon: 'home',
          title: 'Welcome',
          to: '/'
        }, {
          icon: 'location_on',
          title: 'Censuses',
          to: '/census'
        }, {
          icon: 'collections',
          title: 'Photos',
          to: '/photos'
        }
      ]
      if (this.isLoggedIn) {
        result.push({
          icon: 'cloud_upload',
          title: 'Bulk upload',
          to: '/bulk'
        })
      }
      return result
    },
  },
  methods: {
    async doLogin () {
      await this.$auth.loginWith('keycloak')
    },
    async doLogout () {
      await helpers.doLogout(this)
    }
  }
}
</script>
<style>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>
