<template>
  <v-container>
    <v-layout column>
      <v-flex xs12 sm8 md6 my-2>
            <div class="display-1">Legacy data bulk upload</div>
      </v-flex>
      <v-flex xs12 sm8 md6 my-2>
        <v-card>
          <v-card-title class="headline">About this tool</v-card-title>
          <v-card-text>
            <p>
              The WOW Legacy Data Project enables previously collected orchid field data to be made available to
              researchers and the general public (with limitation – see sensitive data policy) via WOW.  The WOW app is
              designed to <em>future proof</em> new information, so that data is collected in a standardised,
              repeatable, and scientifically accepted format.  The WOW Legacy Data Project enables previously collected
              data to be ingested into the database and contribute to our knowledge of wild orchid populations.
            </p>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 sm8 md6 my-2>
        <v-card>
          <v-card-title class="headline">Download the template</v-card-title>
          <v-card-text>
            <p>
              Download an empty template that's ready to fill out with your data. When you've completed it, come back
              here to upload the data.
            </p>
            <v-btn color="primary" @click="downloadTemplate">Download template</v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 sm8 md6 my-2>
        <v-card>
          <v-card-title class="headline">Upload a completed template</v-card-title>
          <v-card-text>
            <p>
              Now that you've filled in the template with all your data, you can upload it here.
            </p>
            <b-alert variant="info" :show="uiState === 'processing'">
              <v-progress-linear :indeterminate="true"></v-progress-linear>
              {{ currentUploadActivity }}
            </b-alert>
            <b-alert variant="danger" :show="uiState === 'parseFail'">
              Failed to read the uploaded spreadsheet template. Did you upload the correct .xlsx file?
              Also make sure you're using a recently downloaded template. If in doubt, you can download a new
              template and copy/paste your data into the new template.
            </b-alert>
            <b-alert variant="danger" :show="uiState === 'processFail'">
              Failed to process the data in the uploaded spreadsheet template. Please correct the following errors
              are retry the upload:
              <ol>
                <li v-for="curr in validationFailures" :key="curr">{{curr}}</li>
              </ol>
            </b-alert>
            <b-alert variant="danger" :show="uiState === 'systemFail'">
              <strong>Error:</strong> Something has gone wrong, Sorry.
            </b-alert>
            <b-alert variant="success" :show="uiState === 'success'">
              Successfully uploaded and processed all <strong>{{ rowsProcessed }}</strong> rows of data.<br />
              Your data is now awaiting approval by an authorised user. Once it has been approved (or not), you'll
              receive a notification. After approval you'll then be able to see your data in the system.
            </b-alert>
            <file-input label="Select completed template" v-on:file-selected="onCompletedTemplateSelected"></file-input>
            <v-btn color="primary" :disabled="isUploadDisabled" @click="uploadTemplate">Upload completed template</v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import BulkComponent from './bulk.js'
export default BulkComponent
</script>

<style scoped>
</style>
