<template>
<div class="container d-flex align-items-center justify-content-center flex-column">
  <img src="~/assets/loading.svg" alt="Loading..." width="80px" />
  Logging in...
</div>
</template>

<script>
import { pageTitle } from '~/util/helpers'
export default {
  head: pageTitle('Processing login'),
}
</script>

<style scoped>
.container {
  min-height: 70vh;
}
</style>
