<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <v-flex
      xs12
      sm8
      md6
    >
      <v-card>
        <v-card-title class="headline">Welcome to the Wild Orchid Watch app</v-card-title>
        <v-card-text class="text-center">
          <img src="/wow-logo.png" alt="wild orchid watch logo" />
        </v-card-text>
        <v-card-text>
          <p>TODO write more about how to use it</p>
          <hr class="my-3">
          <a
            href="https://www.wildorchidwatch.org/"
            target="_blank"
          >Learn more about WOW</a>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { isJustLoggedOutParamName } from '~/util/constants'
import { pageTitle } from '~/util/helpers'

export default {
  head: pageTitle('Welcome'),
  mounted () {
    if (this.$route.query[isJustLoggedOutParamName]) {
      this.$toast.info('Successfully logged out')
    }
  }
}
</script>

<style scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
