<template>
  <!--thanks https://codepen.io/johnjleider/pen/wyYVVj-->
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <v-card class="elevation-12">
        <v-toolbar color="warning">
          <v-toolbar-title>Login</v-toolbar-title>
        </v-toolbar>
        <v-card-text>You need to login to access this page</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" @click="doLogin">Login</v-btn>
          <div>
          </div>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { pageTitle } from '~/util/helpers'

export default {
  head: pageTitle('Login'),
  data: () => ({
    formUsername: null,
    formPassword: null,
    errorMessage: null,
  }),
  methods: {
    async doLogin () {
      try {
        await this.$auth.loginWith('keycloak')
      } catch (err) {
        this.errorMessage = err.message || JSON.stringify(err) // TODO handle better
        return
      }
    }
  }
}
</script>
