<template>
<div class="container d-flex align-items-center justify-content-center flex-column">
  <img src="~/assets/loading.svg" alt="Loading..." width="80px" />
  Logging out...
</div>
</template>

<script>
import * as helpers from '~/util/helpers'

export default {
  head: helpers.pageTitle('Logout'),
  async created () {
    await helpers.doLogout(this)
  }
}
</script>

<style scoped>
.container {
  min-height: 70vh;
}
</style>
