<template>
  <v-container>
    <v-layout column>
      <v-flex xs12 sm8 md6 my-2>
        <v-card>
          <v-card-title class="headline">About me</v-card-title>
          <v-card-text>
            <v-container>
              <v-layout column>
                <v-layout row wrap>
                  <v-flex xs12 sm3 md2>
                    <div><strong>Username</strong></div>
                  </v-flex>
                  <v-flex xs12 sm9 md10>
                    <div>{{ $auth.user.preferred_username }}</div>
                  </v-flex>
                </v-layout>
                <v-layout row wrap>
                  <v-flex xs12 sm3 md2>
                    <div><strong>Name</strong></div>
                  </v-flex>
                  <v-flex xs12 sm9 md10>
                    <div>{{ $auth.user.name }}</div>
                  </v-flex>
                </v-layout>
              </v-layout>
            </v-container>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 sm8 md6 my-2>
        <v-card>
          <v-card-title class="headline">Recent activity</v-card-title>
          <v-card-text>
            <p>TODO</p>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 sm8 md6 my-2>
        <v-card>
          <v-card-title class="headline">Contributions</v-card-title>
          <v-card-text>
            <p>TODO</p>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { pageTitle } from '~/util/helpers'
export default {
  head: pageTitle('About me'),
  middleware: ['auth'],
}
</script>

<style scoped>
</style>
